.cl1 {
    color: blue;
    font-family: 'Courier New';
    font-size: 12px;
    }
.cl2 {
    color: red;
    font-weight: bold;
    }
.cl3 {
    color: green;
    font-family: 'Times New Roman';
    font-style: italic;
    }
.cl4 {
    color: black;
    border: 1px dashed red;
    }
.cl5 {
    color: blue;
    font-weight: bold;
    font-style: italic;
    }
.cl1:hover td:nth-child(4) {
    color: yellow;
    }
.cl1 td:nth-child(5):active {
    background-color: yellow;
    }
.cl1 td:nth-child(6):active {
    font-style: italic;
    }
td{
    border: 1px solid;
    padding: 5px;
}
.scale{
    transition:none;
}
.scale:hover{
    transform: scale(1.5);
}

#vv{
    font-size: 16px;
    color: black;
}