*{
    color: #000;
    font-family: Inter;
}
.body{
    width: 790px;
    height: 1135px;
    margin: 0px;
}
.container{
    width: 327px;
    height: 1135px; 
    color: #fff;
    position: left;
}
.header{
    margin: 0px;
    width: 790px;
    height: 65px; 
    background-color: #303338 ;
}
.circus{
    margin-top: 37px;
    margin-left: 64px;
    width: 160px; 
    height: 160px; 
    border-radius: 50%;
    background-image: url(./images/resume.jpg);
    background-size: cover;
   
}
.contacts{
    display: flex;
}
.phone{
    background: url(./images/phone.png);
    width: 15px; 
    height: 15px;
    margin-top: 49px;
    margin-left: 57px;
}
.nomer{
    font-family: 'Inter', light;
    font-size: 10px;
    width: 169px;
    height: 12px;
    margin-top: 49px;
    margin-left: 13px;
}
.mail{
    background: url(./images/mail.png);
    width: 15px; 
    height: 15px;
    margin-top: 18px;
    margin-left: 57px;
}
.icloud{
    font-family: 'Inter', light;
    font-size: 10px;
    width: 174px;
    height: 12px;
    margin-top: 18px;
    margin-left: 13px;
}
.link{
    background: url(./images/Internet.png);
    width: 15px; 
    height: 15px;
    margin-top: 18px;
    margin-left: 57px;
}
.behance{
    font-family: 'Inter', light;
    font-size: 10px;
    width: 174px;
    height: 12px;
    margin-top: 19px;
    margin-left: 13px;
}
.map{
    background: url(./images/Map.png);
    width: 15px; 
    height: 15px;
    margin-top: 18px;
    margin-left: 57px;
}
.addres{
    font-family: 'Inter', light;
    font-size: 10px;
    width: 174px;
    height: 12px;
    margin-top: 18px;
    margin-left: 13px;
}
.ed{
    font-family: 'Inter', light;
    font-size: 20px;
    width: 170px;
    height: 24px;
    letter-spacing: 4px;
    margin-top: 45px;
    margin-left: 57px;

}
.s{
    font-family: 'Inter', light;
    font-size: 16px;
    width: 217px;
    height: 38px;
    margin-top: 20px;
    margin-left: 57px;
}
.ui{
    font-family: 'Inter', light;
    font-size: 14px;
    width: 217px;
    height: 17px;
    margin-top: 10px;
    margin-left: 57px; 
}
.date{
    font-family: 'Inter', light;
    font-size: 12px;
    width: 150px;
    height: 15px;
    margin-top: 8px;
    margin-left: 57px; 
}
.d{
    font-family: 'Inter', light;
    font-size: 12px;
    width: 150px;
    height: 15px;
    margin-top: 55px;
    margin-left: 57px; 
}
.da{
    font-family: 'Inter', light;
    font-size: 12px;
    width: 150px;
    height: 15px;
    margin-top: 25px;
    margin-left: 57px; 
}
.l{
    font-family: 'Inter', light;
    font-size: 16px;
    width: 64px;
    height: 19px;
    margin-top: 8px;
    margin-left: 57px; 
}
.cont{
    width: 327px;
    height: 1135px; 
    color: #fff;
    position: absolute; top: 37px; left: 327px;
    float: left;
}
.name{
    font-family: 'Inter', Bold;
    font-size: 30px;
    width: 400px;
    height: 36px;
    margin-top: 72px;
    font-weight: 700;
    margin-right: 98px;
    letter-spacing: 1.2px;
}
.des{
    font-family: 'Inter', light;
    font-size: 22px;
    width: 400px;
    height: 27px;
    margin-top: 16px;
    margin-right: 308px;
}
hr{
    width: 430px;
    height: 0px;
    margin-top: 19px;
    margin-right: 34px;
}
.b{
    font-family: 'Inter', light;
    font-size: 20px;
    width: 160px;
    height: 24px;
    letter-spacing: 4.4px;
    margin-top: 15px;
    margin-right: 355px;
}
.about{
    font-family: 'Inter', light;
    text-align: justify;
    font-size: 13px;
    width: 446px;
    height: 144px;
    margin-top: 25px;
    margin-right: 26px;
}
.help{
    width: 160px;
    height: 0px;
    margin-top: 23px;
    margin-right: 304px;
}
ul{
    font-family: 'Inter', light;
    font-size: 14px;
    width: 300px;
    height: 85px;
    margin-top: 15px;
    margin-right: 231px;
}
.t{
    font-family: 'Inter', light;
    font-size: 16px;
    width: 300px;
    line-height: 120%;
    height: 85px;
    margin-top: 8px;
    margin-right: 96px;
}
.ab{ 
    font-family: 'Inter', light;
    text-align: justify;
    font-size: 13px;
    width: 382px;
    height: 34px;
    margin-top: 25px;
    margin-right: 26px;
}