.shadowbox{
width: 600px;
border: 1px;
box-shadow: 4px 4px 10px #6767;
padding: 15px 15px;
background-color: azure;
}
#test > p, h2 {
font: 2px sans-serif;
font-size: larger;
}
p > a, a.test{
text-decoration: overline;
color:blue;
}
p.top{
font-style: italic;
}
li a {
    color:blue;
}
li a:active{
    color:coral;
}
li a:visited{
    color: blueviolet;
}
li a:hover{
    color:darkcyan;
}
table{
    width: 500px;
    text-align: center;
    border: 1px;
    padding: 10px;
}
th {
    font-size:x-large;
}
.row{
    background-color: rgb(255, 199, 126);
}
th{
    background-color:darksalmon;
}
tr:nth-of-type(2n){
    background-color:darksalmon;
}
tr:nth-of-type(2n+1){
    background-color:rgb(255, 232, 181);
}
.radio{
    font-style: italic;
    color: dimgray;
}
.behance{
    background-image: url(behance.png);
    width: 48px;
    height: 48px;
    float: left;
    background-position: 0px 0px;
}
.vk{
    background-image: url(vk.png);
    width: 48px;
    height: 48px;
    float: left;
    background-position: 48px 48px;
}

